html, body{height: 100%;}
section .inner{display: flex; justify-content: space-between; padding: 0 9.6rem;}
section .inner > div:not(:last-child){margin-right: 4.0rem;}
section .inner > div ul li:not(:last-child){margin-bottom: 6.4rem;}
section .inner > div ul li figure .img_box{margin-bottom: 1.6rem; display: inline-block; overflow: hidden; transform: translateY(80px); transition-duration: 0.6s; opacity: 0;}
section .inner > div ul li figure .img_box img{width: 100%; transform: scale(1.15); transition-duration: 0.6s; transition-delay: 0.6s; cursor: pointer;}
section .inner > div ul li figure .img_box img:hover{transform: scale(1.1); transition-duration: 0.6s;}
section .inner > div.first ul li:first-child figure .img_box img{transition-delay: 0.9s;}
section .inner > div.middle ul li:first-child figure .img_box{transition-delay: 0.3s;}
section .inner > div.middle ul li:first-child figure .img_box img{transition-delay: 0.9s;}
section .inner > div.last ul li:first-child figure .img_box{transition-delay: 0.6s;}
section .inner > div.last ul li:first-child figure .img_box img{transition-delay: 0.9s;}
section .inner > div ul li figure figcaption{cursor: pointer;}
section .inner > div ul li figure figcaption dl dt{margin-bottom: 0.8rem; font-size: 2.4rem; font-weight: 500;}
section .inner > div ul li figure figcaption dl dt span{font-size: 1.6rem;}
section .inner > div ul li figure figcaption dl dd{font-size: 1.2rem;}
section .inner .first{padding-top: 6.4rem;}
section .inner .middle{padding-top: 12.8rem;}
section .view{display: none; position: fixed; z-index: 999; top: 0; left: 0; width: 100%; height: 100%; background-color: #141414;}
section .view ul{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
section .view ul li{display: none; width: 100%; height: 100%;}
section .view ul li .logo{display: flex; align-items: center; justify-content: center; width: 9.6rem; height: 100%;}
section .view ul li .logo img{width: auto; transform: rotate(-90deg);}
section .view ul li .img_box{overflow: hidden; display: flex; align-items: center; justify-content: center; width: 59.17%;}
section .view ul li .img_box img{transform: scale(2.5); object-fit: cover;}
section .view ul li .text{position: relative; width: 35.83%; margin-top: 16.0rem; border: 1px solid #969696; border-width: 1px 0 0;}
section .view ul li .text > div{padding: 12.0rem 0 16.0rem 12.0rem; border: 1px solid #969696; border-width: 0 0 1px;} 
section .view ul li .text > div .tit{margin-bottom: 6.4rem;}
section .view ul li .text > div .tit h4{margin-bottom: 1.6rem; color: #fff; font-size: 3.2rem; font-weight: 500;}
section .view ul li .text > div .tit span{color: #fff; font-size: 1.6rem;}
section .view ul li .text > div dl:nth-of-type(1){margin-bottom: 2.4rem;}
section .view ul li .text > div dl:nth-of-type(2){margin-bottom: 6.4rem;}
section .view ul li .text > div dl dt{display: inline-block; margin-right: 2.4rem; color: #fff; font-size: 1.6rem; font-weight: 500;}
section .view ul li .text > div dl dd{display: inline-block; color: #fff; font-size: 1.6rem;}
section .view ul li .text > div p{color: #fff; font-size: 1.6rem; line-height: 2.8rem;}
section .view ul li .text > span{position: absolute; bottom: -64px; left: 12.0rem; color: #fff; font-size: 20.0rem;}

/* active */
section .inner > div .img_box.active{transform: translateY(0px); opacity: 1;}
section .inner > div .img_box.active img{transform: scale(1.0);}
section .view ul li.active{display: flex;}



/* 
슬라이드 애니메이션 속도 불규칙(js 로딩 문제)
스크롤 시 마우스 이미지 끊김
더보기 부모 라인 덮을 수 있는지
view 이미지 오브젝트핏 안됨 / 마우스 이동 시 이미지 따라가기
mouseClick li 클릭 시 class명 attr, 한번 클릭 시 정상, 두번클릭 시 active 붙음
*/