section div .text{transform: translateY(80px); transition: transform 0.6s, opacity 0.6s; opacity: 0;}
section div .text h4{display: block; margin-bottom: 4.8rem; font-size: 3.2rem; font-weight: 500;}
section div .text div{display: inline-block;}
section div .text p{font-size: 1.6rem; line-height: 2.8rem;}
section div .text p:first-child{margin-bottom: 3.2rem;}
section div .text dl{display: inline-block; margin-right: 9.6rem;}
section div .text dl dt{margin-bottom: 2.4rem; font-size: 1.6rem; font-weight: 500;}
section div .text dl dd{font-size: 1.6rem; line-height: 2.8rem;}
section div .text span{font-size: 1.2rem; line-height: 2.1rem;}
section div .img_box{overflow: hidden; transform: translateY(80px); transition: transform 0.6s, opacity 0.6s; opacity: 0;}
section div .img_box img{transform: scale(1.15); transition: transform 0.6s 0.6s;}
section .info{margin-bottom: 24.0rem;}
section .info .img_box{margin: 0 24.4rem 12.0rem 0;}
section .info .text{display: flex; justify-content: space-between; padding-left: 39.2rem;}
section .info .text h4{display: inline-block;}
section .info .text div{width: 70.95%;}
section .time{margin-bottom: 24.0rem;}
section .time .img_wrap{display: flex; justify-content: space-between; align-items: flex-end; padding-left: 24.4rem; margin-bottom: 12.0rem; font-size: 0;}
section .time .img_wrap .img_box{display: inline-block;}
section .time .img_wrap div:nth-child(1) .img_box:nth-child(1){margin-right: 4.8rem;}
section .time .img_wrap div:nth-child(1) .img_box:nth-child(1) img{transition: transform 0.6s 1.2s;}
section .time .img_wrap div:nth-child(1) .img_box:nth-child(2){margin-bottom: -12.1rem; transition: transform 0.6s 0.3s, opacity 0.6s 0.3s;}
section .time .img_wrap div:nth-child(1) .img_box:nth-child(2) img{transition: transform 0.6s 1.2s;}
section .time .img_wrap div:nth-child(2) .img_box{transition: transform 0.6s 0.6s, opacity 0.6s 0.6s;}
section .time .img_wrap div:nth-child(2) .img_box img{transition: transform 0.6s 1.2s;}
section .time .img_box img{display: block;}
section .time .text{padding-left: 24.4rem;}
section .price{display: flex; justify-content: space-between; align-items: center; margin-bottom: 24.0rem;}
section .price .img_box{width: 48.75%;}
section .price .text{width: 41.04%;}
section .price .text dl{margin-bottom: 3.2rem;}
section .price .text dl strong{font-weight: 500;}
section .price .text dl dd{line-height: 4.0rem;}
section .price .text span{display: block;}
section .rolling{margin-bottom: 24.0rem;}
section .rolling .roll{display: flex; justify-content: center;}
section .rolling .roll:first-child{margin-bottom: 8.0rem;}
section .rolling .roll ul{display: flex; transition: all 0.3s;}
section .rolling .roll ul li{display: inline-block; margin-right: 16.0rem;}
section .rolling .roll ul li a{display: inline-block;}
section .enquiry{display: flex; justify-content: space-between; align-items: center; padding-left: 24.4rem;}
section .enquiry .img_box{width: 41.29%;}
section .enquiry .text{width: 47.02%;}
section .enquiry .text > p{margin-bottom: 2.4rem;}
section .enquiry .text dl{display: block;}
section .enquiry .text dl:last-of-type{margin: 2.4rem 0 24.0rem;}
section .enquiry .text dl dt{display: inline-block; margin-right: 1.6rem; margin-bottom: 0;}
section .enquiry .text dl dd{display: inline-block;}
section .enquiry .text .contact{display: block;}
section .enquiry .text .contact p{margin-bottom: 1.2rem; color: #969696;}
section .enquiry .text .contact h5 a{font-size: 4.8rem;}
section .enquiry .text .contact h5 a img{margin-left: 1.6rem;}

/* active */
section div .text.active{transform: translateY(0px); opacity: 1;}
section div .img_box.active{transform: translateY(0px); opacity: 1;}
section div .img_box.active img{transform: scale(1.0);}


